@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MonteCarlo";
  src: url("../font/monteCarlo/MonteCarlo-Regular.ttf");
  format: "tff";
  font-display: fallback;
}
@font-face {
  font-family: "Abhaya";
  src: url("../font/abhaya-libre/AbhayaLibre-Regular.ttf");
  format: "tff";
  font-display: fallback;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Abhaya', cursive
}

a{
  text-decoration: none;
  color: #DDCCC5;
}
p { font-size: 1.25em }

.shadow-presentation { 
  box-shadow: rgba(213, 180, 167, 0.847) 0px 4px 4px;
}

.monteCarlo { font-family: 'MonteCarlo', cursive; }
